<div>

    <div>
        <form action="/admin/delete/{{p.id}}"  method="post">
                              <a href="/admin/update/{{ p._id}}" class="btn btn-success " role="button">update</a>
                              <input value="delete" type="submit" class="btn btn-danger pull-right" >
        </form>
     </div>

</div>